body {
    font-family: Arial, sans-serif;
    background-color: #896d6d;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
}

#bookList {
    list-style-type: none;
    padding: 0;
}

#bookList li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
.nav1{
    color: aqua;
    background-color: aqua;
    padding: 3px;
}

.nav1 li{
    display: inline;
    padding: 20px; 
}

.nav1 li a{
    text-decoration: none;  
   
}

.nav1 li a:hover{
    transition: 1s;
    text-decoration: underline;
    color: rgb(99, 95, 90);
}

.main h1{
    text-align: center;
}
